.DS_Store
.idea
.packages
.project
.pub
.settings
packages
pubspec.lock
*.so*
*.o
build/
work/
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
/Makefile